
<h2> In this page you can add, delete or edit a customer</h2>
<h4> You can also display all the customer records and search for specific records </h4>
<form>
    <fieldset>
      <legend>Add a Customer:</legend>
      Name:  <input id="cname" type="text" name="cname"> <br>
      Phone Number:  <input id ="cphone" type="text" name="cphone"> <br>
      Adress Street: <input id="cstreet" type="text" name="cstreet"> <br> 
      City: <input id="ccity" type="text" name="ccity"> <br> 
      Zip: <input id ="czip" type="text" name="czip"> <br>
    </fieldset>
</form>

<form>
    <fieldset>
      <legend>Search client records:</legend>
      Name: <input id="cname" type="text" name="cname">
      Zip: <input id ="czip" type="text" name="czip">
      City: <input id ="ccity" type="text" name="ccity">
      <input type="submit" id="customer_search" value = "search"> 
    </fieldset>
</form>

<br>
<h4> Here are all the customer records, edit or delete records if needed </h4>
<table id="customer_table" >
    <thead>
        <tr border="1px">
            <th>Name</th>
            <th>Phone</th>
            <th>Street</th>
            <th>City</th>
            <th>Zip</th>
            <th> <input type="submit" id="customer_edit" value = "edit"> </th>
            <th> <input type="submit" id="customer_delete" value = "delete"> </th>
        </tr>
    </thead>

