<!doctype html>

<h3> Test-O </h3>
    <form id="test" action="/home" method="get">
    Person: <select name='title'>
        {{#each dropdown}}
          <option value='{{Manufacturer_id}}'>{{Manufacturer_name}}</option>
        {{/each}}
    </select>
  </form>

             
