<!doctype html>
<h1> Welcome to the Inventory System </h1>
<h3> Please select one of the following </h3>
<table border="2px solid black">
  <tbody>
    <tr>
      <td> <a href = "/component" > Component </a>  <br>  -Search Components <br> -Add/Delete/Edit Components </td>
      <td> <a href="/manufacturer"> Manufacturer </a><br> -Search Manufacturer <br> -Add/Delete/Edit Manufacturer </td>
      <td> <a href = "/product" > Product </a> <br> -Search Product <br> -Add/Delete/Edit Product  </td>
    </tr>
    <tr>
     <td> <a href ="/customer"> Customers </a> <br> -Search Customer <br> -Add/Delete/Edit Customers </td>
     <td> <a href = "/order" >  Orders </a>  <br> -Search Orders <br> -Place/Delete/Edit Orders </td>
     <td> <a href = "/component_product"> Product </a> <br> View and modify components needed to build a product </td>
   </tr>
   
  </tbody>
        </table>
