<!doctype html>
<h1> Welcome to the Inventory System </h1>
<h3> Please select one of the following </h3>
<table border="2px solid black">
  <tbody>
    <tr>
      <td> Component <br>  -Search Components <br> -Add/Delete/Edit Components </td>
      <td> <a href="/manufacturer"> Manufacturer </a><br> -Search Manufacturer <br> -Add/Delete/Edit Manufacturer </td>
      <td> Product <br> -Search Product <br> -Add/Delete/Edit Product <br> View components needed to build </td>
    </tr>
    <tr>
     <td> Clients <br> -Search Clients <br> -Add/Delete/Edit Clients </td>
     <td> Orders <br> -Search Orders <br> -Place/Delete/Edit Orders </td>
     <td> Product <br> View components needed to build </td>
   </tr>
   
  </tbody>
        </table>