<!doctype html>
<h1 text-align= "center"> Welcome to the Inventory System </h1>
<h3 text-align= "center" > Please select one of the following </h3>
<table class= "table-hover" id= "home_table" border="2px solid black">
  <tbody>
    <tr>
      <td> <a href = "/component" > <div class= "hometitle" > Component </div> </a> <br> Add/Edit </td>
      <td> <a href="/manufacturer"> <div class= "hometitle" > Manufacturer </div> </a> <br> Search/Add/Edit </td>
      <td> <a href = "/product" > <div class= "hometitle" > Product </div> </a> <br> Add/Edit   </td>
    </tr>
    <tr>
     <td> <a href ="/customer"> <div class= "hometitle" > Customers  </div> </a> <br> Add/Edit  </td>
     <td> <a href = "/order" >  <div class= "hometitle" > Orders </div> </a> <br> Add/Delete/Edit  </td>
     <td> <a href = "/component_product"> <div class= "hometitle" > Components- Product </div> </a> <br> Add/Delete/Uptade </td>
   </tr>
   
  </tbody>
        </table>

        <p> Note 1: Due to dependencies with other entities, only our orders and product/component entities have a delete functionality </p>

        <p> Note 2: Search functionality present in manufacturer page </p>
