<!doctype html>
<h2> In this page you can add, delete or edit a product</h2>
<h4> You can also display all the product records and search for specific products </h4>
<form>
    <fieldset>
      <legend>Add a product:</legend>
      Name: <input id="pname" type="text" name="pname"> <br>
      Description: <input id ="pdescription" type="text" name="pdescription"> <br>
      Cost: <input id="pcost" type="number" name="pcost"> <br>
      Price: <input id="pprice" type="number" name="pprice">  <br>
      <input type="submit" id="prod_submit" text="add">
    </fieldset>
</form>

<form>
    <fieldset>
      <legend>Search product records:</legend>
      Name:  <input id="name" type="text" name="name">
      <input type="submit" id="customer_search" value = "search"> 
    </fieldset>
</form>

  

<br>
<h4> Here are all the product records, edit or delete records if needed </h4>
<table id="Product_table" >
    <thead>
        <tr border="1px">
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Price</th>
            <th> <input type="submit" id="product_edit" value = "edit"> </th>
            <th> <input type="submit" id="product_delete" value = "delete"> </th>
        </tr>
    </thead>

   
